section {
    border: 0;
    font-size: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;

    &:after {
        display: inline-block;
        content: '';
        height: 100%;
        vertical-align: middle;
    }

    .btn-start {
        display: none;
        font-size: 30px;
        cursor: pointer;
        vertical-align: middle;
        border: 1px solid #000;
        border-radius: 10px;
        padding: 5px;
        box-shadow: 0 0 10px;

        &.active {
            display: inline-block;
        }
    }

    .person-wrapper,
    .showCase-wrapper,
    .trait-wrapper {
        display: none;
    }
}

.person-wrapper {
    &.active {
        display: block;
    }

    .person-item {
        display: inline-block;
        width: 100px;
        height: 100px;
        background-color: #7ce04c;
        transition: background-color 0.25s;
        border: 2px solid #fff;
        margin: 10px;
        cursor: pointer;

        &.active {
            background-color: #4052ee;
        }
    }

    .btn-next {
        display: inline-block;
        font-size: 30px;
        border: 1px solid #000;
        border-radius: 10px;
        padding: 5px;
        box-shadow: 0 0 10px;
        opacity: 0.5;
        pointer-events: none;

        &.active {
            cursor: pointer;
            opacity: 1;
            pointer-events: all;
        }
    }
}

.trait-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);

    &.active {
        display: block;
    }

    p {
        font-size: 30px;
    }

    ul {
        margin-top: 20px;
    }

    li {
        list-style: none;
        font-size: 20px;
    }

    .btn-see {
        display: inline-block;
        font-size: 30px;
        border: 1px solid #000;
        border-radius: 10px;
        padding: 5px;
        box-shadow: 0 0 10px;
        opacity: 0.5;
        margin-top: 20px;
        pointer-events: none;

        &.active {
            cursor: pointer;
            opacity: 1;
            pointer-events: all;
        }
    }
}

.showCase-wrapper {
    &.active {
        display: block;
    }

    .showCase-content {
        text-align: left;
    }

    .showCase-item {
        display: inline-block;
        width: 200px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .showCase-btn {
        position: relative;
        margin-top: 50px;
    }

    .replay,
    .show-person,
    .show-traits {
        width: 200px;
        font-size: 20px;
        position: absolute;
        border: 1px solid #268c8f;
        cursor: pointer;
    }

    .show-person {
        left: 0;
    }

    .replay {
        left: 50%;
        margin-left: -100px;
    }

    .show-traits {
        right: 0;
    }
}
